body{
    background: #aaa;
}

nav{
    height: 10vh;
    position: fixed;
    top: 0vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0 20px;
    color: aqua;
    font-size: 2em;
    
}

nav div{
    text-align: left;
  }
nav ul{
display: flex;
justify-content: space-between;
width: 50%;
}

nav div{
    text-align: left;
    background-color: #333;
    border-radius: 5%;
    padding: 5px 20px;
}
nav ul li{
display: flex;
justify-content: space-between;
list-style: none;
  
}
nav div, nav ul li{
    background-color: #333;
    border-radius: 15%;
    padding: 5px 20px;

}
header{
    background: linear-gradient(90deg, #aaa, cyan);
}